@model MovContainer.Models.Movimentation

@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir</h1>

<h3>Confirma a exclusão?</h3>
<div>
    <h4>Movimentação</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Tipo de Movimentação")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovType.Description)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayName("Container")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Container.Number)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayName("Data Início")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dt_Init)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Data Fim")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dt_Fin)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar</a>
    </form>
</div>
