@model MovContainer.Models.Movimentation

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Movimentação</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Tipo")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovType.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Container)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Container.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Data / Hora Início")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dt_Init)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Data / Hora Início")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dt_Fin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Retornar</a>
</div>
