@model IEnumerable<MovContainer.Models.Movimentation>

@{
    ViewData["Title"] = "Movimentação";
}

<h1>Movimentação</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tipo")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Container)
            </th>
            <th>
                @Html.DisplayName("Data/Hora Início")
            </th>
            <th>
                @Html.DisplayName("Data/Hora Fim")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovType.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Container.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dt_Init)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dt_Fin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
